/*.o
/*

!/.gitignore
!/.zprofile

!/.config/
/.config/*

!/.config/isyncrc

!/.config/git/
!/.config/shell/
!/.config/x11/
!/.config/src/
!/.config/dunst/
!/.config/clipmenu/
!/.config/tmux/
!/.config/aerc/
!/.config/sioyek/
!/.config/notmuch/
!/.config/msmtp/
!/.config/goldendict/
!/.config/astyle/
!/.config/pg_format/
!/.config/aerc/

!/.config/zsh/
/.config/zsh/*
!/.config/zsh/.zshrc

!/.config/vim/
/.config/vim/*
!/.config/vim/vimrc
!/.config/vim/colors/

!/.config/emacs/
/.config/emacs/*
!/.config/emacs/early-init.el
!/.config/emacs/init.el
!/.config/emacs/themes/

!/.config/gnupg/
/.config/gnupg/*
!/.config/gnupg/gpg-agent.conf
