startup_commands toggle_custom_color;toggle_statusbar

ui_font                                  Lexend
font_size                                28
status_bar_font_size                     28

zoom_inc_factor                          1.1
super_fast_search                        1
should_launch_new_window                 1
enable_experimental_features             1
single_click_selects_words               1
show_doc_path                            1

# #ffffea                                = (1    1    0.93)
# #333333                                = (0.2  0.2  0.2)
# #d3d3d3                                = (0.83 0.83 0.83)

custom_color_mode_empty_background_color 1   1   0.93
custom_background_color                  1   1   0.93
custom_text_color                        0.2 0.2 0.2

ui_background_color                      0.83 0.83 0.83
ui_text_color                            0.2  0.2  0.2
ui_selected_background_color             1    1    0.93
ui_selected_text_color                   0.2  0.2  0.2

text_highlight_color                     0.83 0.83 0.83
visual_mark_color                        0.83 0.83 0.83 1
search_highlight_color                   0.83 0.83 0.83
link_highlight_color                     0.83 0.83 0.83
synctex_highlight_color                  0.83 0.83 0.83

highlight_color_a                        0.83 0.83 0.83
highlight_color_b                        0.83 0.83 0.83
highlight_color_c                        0.83 0.83 0.83
highlight_color_d                        0.83 0.83 0.83
highlight_color_e                        0.83 0.83 0.83
highlight_color_f                        0.83 0.83 0.83
highlight_color_g                        0.83 0.83 0.83
highlight_color_h                        0.83 0.83 0.83
highlight_color_i                        0.83 0.83 0.83
highlight_color_j                        0.83 0.83 0.83
highlight_color_k                        0.83 0.83 0.83
highlight_color_l                        0.83 0.83 0.83
highlight_color_m                        0.83 0.83 0.83
highlight_color_n                        0.83 0.83 0.83
highlight_color_o                        0.83 0.83 0.83
highlight_color_p                        0.83 0.83 0.83
highlight_color_q                        0.83 0.83 0.83
highlight_color_r                        0.83 0.83 0.83
highlight_color_s                        0.83 0.83 0.83
highlight_color_t                        0.83 0.83 0.83
highlight_color_u                        0.83 0.83 0.83
highlight_color_v                        0.83 0.83 0.83
highlight_color_w                        0.83 0.83 0.83
highlight_color_x                        0.83 0.83 0.83
highlight_color_y                        0.83 0.83 0.83
highlight_color_z                        0.83 0.83 0.83
